.formheading {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

.disbursedform-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disbursedform-content {
    border-radius: 10px;
    background-color: #8fd9ffff;
    width: 500px;
}

.formbody {
    margin: 20px;
    padding-left: 30px;
    width: 400px;
    padding-bottom: 20px;

}

.formbody label {
    margin-bottom: 0px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.lender {
    margin-top: 10px;
}

.recbutton button {
    margin-top: 15px;
}

.formbody .list {
    box-sizing: border-box;
    width: 400px;
    height: 41px;
    margin-bottom: 15px;
    padding: 10px;
}

.listb {
    border: 2px solid blue;
    border-radius: 6px;
    width: 400px;
    height: 41px;
    /* margin-bottom: 15px; */

}

.boxcontent {
    position: relative;
    z-index: 1;
}

.boxcontent .tableheading {
    /* margin-bottom: 10px; */
    font-size: 20px;
    margin-top: 20px;
}

.selectboxs {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.select1,
.select2 label {
    font-family: 'Times New Roman', Times, serif;
}

.select1,
.select2 {
    width: 300px;
    margin-left: 10px;
    /* margin-bottom: 10px; */
}

.select3 {
    /* margin-top: 27px; */
    padding-left: 10px;
}

.createbutton.c {
    height: 30px;
    font-size: 15px;
}

.highlightrow td {
    background-color: aqua;
}

.createbutton.sh {
    height: 28px;
    font-size: 15px;
    border: none;
}

.search.bal {
    margin: 5px;
    margin-bottom: 2px;
    height: 35px;
}

.sectiont {
    display: flex;
    padding-inline: 5px;
}

.sectiont button {
    width: fit-content;
    height: fit-content;
}

.SubmitbuttonTM {
    margin-left: 150px;
}

.submitbuttonC {
    background-color: color-mix(in srgb, rgb(6, 182, 212) 75%, rgb(0, 26, 255) 25%);
    color: white;
    border: none;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    margin-top: 35px;
}
.submitbuttonC.S{
    margin-top: 10px;
    width: 80px;
    font-size: 14px;
}